<div class="header-mobile-menu bg-paleblue w-full absolute left-0 bottom-0 flex flex-col justify-between transform translate-y-[-100%] py-[20px] px-[10px] z-[54] transition duration-500 ease-in-out">
    <div class="container">
        <div class="logo w-[100%] h-auto mb-[20px]">
            {{ header_menu_logo }}
        </div>

        <div class="content max-w-[262px] font-gt-super-medium ml-auto">
            <p>
                {{ header_menu_text }}
            </p>
        </div>
    </div>
</div>